@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utility to hide scrollbar but allow scrolling */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

/* Optional: Add a nice font like Inter if you wish */
body {
  background-color: #f3f4f6; /* Gray-100 match */
}